body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #FCF8F5;
    color: #5176A1;
    width: 100%;
}

.name {
    margin: 380px auto;
    margin-left: 80px;
    margin-bottom: 0;
}

.name h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 0.2;
}

.name span {
    font-size: 65px;
    font-weight: 400;
}

.name h1 {
    font-weight: 900;
}

.bottom {
    background-color: #5176A1;
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 100;
}

.bottom h3 {
    color: #FCF8F5;
    margin-left: 80px;
    padding: 10px 0; 
    text-align: left; 
}

@media (max-width: 768px) {
    .hello {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
}