body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #FCF8F5;
    color: #5176A1;
    width: 100%;
}

.name {
    margin: 380px auto;
    margin-left: 80px;
    margin-bottom: 0;
    margin-right: 600px;
}

.name h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 0.2;
}

.name span {
    font-size: 65px;
    font-weight: 400;
}

.name h1 {
    font-weight: 900;
}

.bottom {
    background-color: #5176A1;
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 100;
}

.bottom h3 {
    color: #FCF8F5;
    margin-left: 80px;
    padding: 10px 0; 
    text-align: left; 
}

@media screen and (max-width: 768px) {
    .bottom h3 {
        font-size: 13px;
        margin-left: 50px;
    }

    .name {
        margin-left: 50px;
        margin-top: 350px;
        margin-right: 50px;
    }

    .name h2 {
        font-size: 40px; /* Ukuran font lebih kecil dibanding desktop */
    }

    .name span {
        font-size: 40px; /* Sesuaikan ukuran */
    }

    .name h1 {
        font-size: 55px; /* Pertahankan penonjolan heading utama */
    }

    .name p {
        font-size: 14px; /* Sedikit lebih besar dibanding 480px */
    }
}

@media screen and (max-width: 480px) {
    .bottom h3{
        font-size: 12px;
        margin-left: 30px;
    }

    .name {
        margin-left: 30px;
        margin-top: 350px;
    }

    .name h2 {
        font-size: 40px;
    }

    .name span {
        font-size: 40px;
    }

    .name h1 {
        font-size: 55px;
    }

    .name p{
        font-size: 12px;
    }
}